@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui;
}

main {
  margin-bottom: 96px;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 

NAVIGATION 

*/

.nav__bar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  padding: 10px;
  font-size: 24px;
  font-weight: 900;
  margin-left: 2px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  position: relative;
  color: #243e63;
  transition: all 300ms;
  margin: 20px;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 20px;
  width: 100%;
  height: 2px;
  background-color: #6030b1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__btn {
  color: white;
  background-color: #6415ff;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 2px;
  padding: 10px 32px;
  border: none;
  line-height: 1.5;
  transition: all 350ms ease;
}

.nav__btn:hover {
  background-color: rgba(80, 17, 204);
}

/* 

HEADER

*/

.header__description {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__description--title {
  font-size: 48px;
  padding: 20px 0;
}

.header__descrition--para {
  font-size: 18px;
  padding: 32px 0;
  letter-spacing: 0.5px;
}

.header__email {
  position: relative;
  width: 100%;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 160px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  transition: border-color 300ms;
}

.header__email--btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% - 16px);
  width: 150px;
  border-radius: 500px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 350ms ease;
}

.header__email--btn:hover {
  background-color: rgba(80, 17, 204);
}

.header__customers--title {
  font-size: 12px;
  color: #a0aec0;
  margin-top: 80px;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  width: 100%;
  max-width: 768px;
}

.header__row {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*

FEATURES

*/

.row__narrow {
  max-width: 1024px;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__contianer {
  padding: 96px 0;
}

.section__tag {
  color: #6415ff;
  font-weight: 700;
  letter-spacing: 1.6px;
  font-size: 16px;
}

.section__title {
  color: #243e63;
  font-size: 48px;
  padding-top: 20px;
  font-weight: 900;
  margin: 16px 0;
}

.section__para {
  max-width: 576px;
  color: #7c8ba1;
  font-size: 18px;
  line-height: 1.625;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  display: flex;
  width: calc(100% / 3);
}

.features__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__title {
  color: #243e63;
  font-size: 24px;
  padding: 16px;
}

.feature__para {
  color: #7c8ba1;
  padding-left: 20px;
  line-height: 2;
}

.feature__text {
  text-align: left;
}

.features__contianer {
  padding: 96px 0;
}

/* 

QUALITY 

*/

.quality__container {
  padding: 20px;
  display: flex;
}

.quality__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.qualiaty__description {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 576px;
  margin-right: 64px;
}

.quality__img--wrapper {
  width: 50%;
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
}

.quality__img {
  max-width: 100%;
}

.quality__tag {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  padding: 20px 0;
}

.quality__description--title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.quality__description--para {
  color: #7c8ba1;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
}

.quality__btn {
  color: white;
  background-color: #6415ff;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 auto;
  margin-left: 0;
  margin-top: 32px;
  padding: 10px 32px;
  border: none;
  line-height: 1.5;
  transition: all 350ms ease;
}

.quality__btn:hover {
  background-color: rgba(80, 17, 204);
}

/* 

STEPS

*/

.steps__container {
  padding: 96px 0;
}

.steps__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.steps__img--wrapper,
.steps__description {
  width: 50%;
}

.steps__img--wrapper {
  display: flex;
}

.steps__img {
  width: 100%;
}

.step {
  display: flex;
  margin-top: 32px;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.steps__description {
  padding: 32px 0;
  padding-left: 64px;
}

.step__title {
  font-size: 20px;
  color: #243e63;
  font-weight: 500;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/*

VALUES  

*/

.values__container {
  display: flex;
}

.values__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.values__description,
.values__img {
  width: 50%;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__img--dollar {
  background-color: rgb(153, 255, 153);
  border-radius: 500px;
  padding: 5px;
}

.value__name {
  font-size: 20px;
  color: #243e63;
  margin-left: 12px;
}

.value__para {
  font-size: 16px;
  color: #718096;
  line-height: 1.625;
  margin-top: 16px;
}

.values__list {
  display: flex;
}

#values .section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}

.value:nth-of-type(1) {
  margin-top: 32px;
  margin-right: 32px;
}

.value:nth-of-type(2) {
  margin-top: 32px;
}

.value__img--brief {
  background-color: rgb(255, 194, 187);
  border-radius: 500px;
  padding: 5px;
}

.values__btn {
  color: white;
  background-color: #6415ff;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 auto;
  margin-left: 0;
  margin-top: 32px;
  padding: 10px 32px;
  border: none;
  line-height: 1.5;
  transition: all 350ms ease;
}

.values__btn:hover {
  background-color: rgba(80, 17, 204);
}

/* 

PRICING 

*/



.pricing__container {
  padding: 96px 0;
}
.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(255 255 255);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  color: rgb(26 32 44);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__btn {
  border-radius: 0.25rem;
  padding: 0.75rem 2rem;
  font-weight: 700;
  transition: all 300ms ease;
  width: 100%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}

.plan__top {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan__name {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan__middle {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 2rem;
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}

.plan__stripe1,
.plan__btn1 {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__stripe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.plan__button {
  padding: 0.75rem 2rem;
  font-weight: 700;
  transition: all 300ms ease;
  width: 100%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.plan__bottom {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}
.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}
.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

/*

TESTIMONIALS

*/

#testimonials {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

#testimonials .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__img {
  width: 50%;
}

.testimonials__description {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.testimonials {
  margin-top: 40px;
}

.testimonial__rating {
  margin-top: 4px;
  margin-right: 2px;
  color: rgb(246 173 85)
}

.testimonails__title {
  margin-top: 16px;
  font-size: 20px;
  color: #4a5568;
  font-weight: 700;
  line-height: 1.625;
}

.testimonial__para {
  color: rgb(74 85 104);
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 32px;
  line-height: 1.625;
  font-weight: 500;
}

.testimonials__bottom {
  display: flex;
  justify-content: space-evenly;
}

.testimonials__profile {
  display: flex;
  align-items: center;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonials__details {
  margin-left: 24px;
}

.testimonials__profile--name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.625;
  color: #4a5568;
}

.testimonials__profile--role {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
}

.testimonials__button {
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
  transition: all 300ms ease;
}

.testimonials__button:hover {
    background-color: rgb(229, 231, 235);
}